/*---------------------------*/
/*<!---- @nkmjs/dialog ----!>*/
/*---------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

:host{
    padding:var(#{$id_size_l});
}

.content{
    &.shown{
        animation: scaleIn 150ms ease-in-out forwards;
    } 
    &:not(.shown){
        animation: scaleOut 150ms ease-in-out forwards;
    }    
}

