/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_variables';
@import '../_mixins';
@import '../_functions';
@import '../_constants';

$r : 5px;

:host {
    padding: $r;
    border-radius: $r;
    background-color: rgba(var(#{$id_col_base_400}-rgb), 1);
}