/*--------------------------*/
/*<!---- @nkmjs/style ----!>*/
/*--------------------------*/

/* High-level UI Flags */

$INFOS: '.infos';
$WARNING: '.warning';
$ERROR: '.error';
$READY: '.ready';
$DIRTY: '.dirty';
$LOADING: '.loading';
$PROCESSING: '.processing';
$WAITING: '.waiting';
$ACTIVE: '.active';
$CTA: '.cta';

$FLAVORS: $INFOS, $WARNING, $ERROR;
$FLAVORS_EX: $INFOS, $WARNING, $ERROR, $READY, $DIRTY, $LOADING, $PROCESSING, $WAITING, $ACTIVE, $CTA;

/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

/* Generics */

$NONE: '.none';
$VERTICAL: '.vertical';
$HORIZONTAL: '.horizontal';
$EXPANDED: '.expanded';
$COLLAPSED: '.collapsed';

/* Interactive states */

$DISABLED: '.disabled';
$IDLE: '.idle';
$FOCUSED: '.focused';

/* Interactive additive */

$ACTIVATED: '.activated';
$SELECTED: '.selected';
$TOGGLED: '.toggled';
$TOGGLABLE: '.togglable';
$DRAGGED: '.dragged';
$ALLOW_DROP: '.allow-drop';
$ALLOW_DROP_TOP: '.allow-drop-top';
$ALLOW_DROP_BOTTOM: '.allow-drop-bottom';
$ALLOW_DROP_LEFT: '.allow-drop-left';
$ALLOW_DROP_RIGHT: '.allow-drop-right';

$ISTATES: $DISABLED, $IDLE, $FOCUSED, $ACTIVATED;
$ISTATES_EX: $DISABLED, $IDLE, $FOCUSED, $ACTIVATED, $SELECTED, $FOCUSED+$SELECTED;

/* Positions */

$LEFT: '.left';
$RIGHT: '.right';
$TOP: '.top';
$BOTTOM: '.bottom';

/* Misc */

$SHOWN: '.shown';
$NO_ICON: '.no-icon';
$NO_LABEL: '.no-label';
$NO_SCALE: '.no-scale';

$CTA: '.cta';

/* Sizes */

$SIZE_XXS: '.size-xxs';
$SIZE_XS: '.size-xs';
$SIZE_S: '.size-s';
$SIZE_M: '.size-m';
$SIZE_L: '.size-l';
$SIZE_XL: '.size-xl';
$SIZE_FILL: '.size-fill';
$SIZE_CUSTOM: '.size-custom';

$SIZES: $SIZE_XXS, $SIZE_XS, $SIZE_S, $SIZE_M, $SIZE_L, $SIZE_XL, $SIZE_FILL, $SIZE_CUSTOM;

/* Variants */

$MINIMAL: '.minimal';
$FRAME: '.frame';

$EMPTY: '.empty';
