@import './functions';

////////////
/* Colors */
////////////

$primary_dark: #393939;
$primary_light: #e5e5e5;

$bg_dark: #191919;
$bg_light: #f0f0f0;

$col_base_100_dark: rgb(10, 10, 10);
$col_base_200_dark: rgb(40, 40, 40);
$col_base_300_dark: rgb(50, 50, 50);
$col_base_400_dark: rgb(60, 60, 60);
$col_base_500_dark: rgb(110, 110, 110);
$col_base_600_dark: rgb(150, 150, 150);
$col_base_700_dark: rgb(170, 170, 170);
$col_base_800_dark: rgb(200, 200, 200);
$col_base_900_dark: rgb(230, 230, 230);

$col_base_100_light: rgb(230, 230, 230);
$col_base_200_light: rgb(200, 200, 200);
$col_base_300_light: rgb(170, 170, 170);
$col_base_400_light: rgb(150, 150, 150);
$col_base_500_light: rgb(110, 110, 110);
$col_base_600_light: rgb(70, 70, 70);
$col_base_700_light: rgb(50, 50, 50);
$col_base_800_light: rgb(40, 40, 40);
$col_base_900_light: rgb(10, 10, 10);

//$col_error: rgb(226, 53, 0);
//$col_loading: rgb(102, 119, 204);

$col_infos: rgb(102, 175, 204);
$col_warning: rgb(255, 166, 0);
$col_error: rgb(237, 30, 121);
$col_ready: rgb(120, 164, 0);
$col_dirty: rgb(164, 100, 0);
$col_loading: rgb(112, 141, 204);
$col_processing: rgb(102, 119, 204);
$col_waiting: rgb(102, 119, 204);
$col_active: rgb(62, 193, 136);
$col_input_bg: rgb(32, 32, 32);

$id_col_infos: '--col-infos';
$id_col_warning: '--col-warning';
$id_col_error: '--col-error';
$id_col_ready: '--col-ready';
$id_col_dirty: '--col-dirty';
$id_col_loading: '--col-loading';
$id_col_processing: '--col-processing';
$id_col_waiting: '--col-waiting';
$id_col_active: '--col-active';
$id_col_cta: '--col-cta';

$id_col_input_bg: '--col-input-bg';

$transition_opacity: opacity 0.1s ease;

$id_col_base_100: '--col-base-100';
$id_col_base_200: '--col-base-200';
$id_col_base_300: '--col-base-300';
$id_col_base_400: '--col-base-400';
$id_col_base_500: '--col-base-500';
$id_col_base_600: '--col-base-600';
$id_col_base_700: '--col-base-700';
$id_col_base_800: '--col-base-800';
$id_col_base_900: '--col-base-900';

///////////
/* Sizes */
///////////

$size_xxs: 8px;
$size_xs: 16px;
$size_s: 24px;
$size_m: 32px;
$size_l: 50px;
$size_xl: 108px;
$size_fill: 100%;
$size_custom: var(--custom-size, $size_m);

$id_size_xxs: '--size-xxs';
$id_size_xs: '--size-xs';
$id_size_s: '--size-s';
$id_size_m: '--size-m';
$id_size_l: '--size-l';
$id_size_xl: '--size-xl';
$id_size_fill: '--size-fill';
$id_size_custom: '--size-custom';

////////////////
/* Font sizes */
////////////////

$font_size_xxs: 0.65rem;
$font_size_xs: 0.75rem;
$font_size_s: 0.88rem; //0.9375rem;
$font_size_m: 1.35rem;
$font_size_l: 1.65rem;
$font_size_xl: 1.95rem;
$font_size_tag: $font_size_xs * 0.75;

$id_font_size_tag: '--font-size-tag';
$id_font_size_xxs: '--font-size-xxs';
$id_font_size_xs: '--font-size-xs';
$id_font_size_s: '--font-size-s';
$id_font_size_m: '--font-size-m';
$id_font_size_l: '--font-size-l';
$id_font_size_xl: '--font-size-xl';


/////////////////
/////////////////
/* Boilerplate */
/////////////////
/////////////////

$col_flavors_ids: 
    $id_col_infos,
    $id_col_warning,
    $id_col_error;

$col_base_dark: 
    $col_base_100_dark,
    $col_base_200_dark,
    $col_base_300_dark,
    $col_base_400_dark,
    $col_base_500_dark,
    $col_base_600_dark,
    $col_base_700_dark,
    $col_base_800_dark,
    $col_base_900_dark;

$col_base_light: 
    $col_base_100_light,
    $col_base_200_light,
    $col_base_300_light,
    $col_base_400_light,
    $col_base_500_light,
    $col_base_600_light,
    $col_base_700_light,
    $col_base_800_light,
    $col_base_900_light;

$col_base_ids: 
    $id_col_base_100,
    $id_col_base_200,
    $id_col_base_300,
    $id_col_base_400,
    $id_col_base_500,
    $id_col_base_600,
    $id_col_base_700,
    $id_col_base_800,
    $id_col_base_900;

// ----> Colors Presets

//$FLAVORS: $INFOS, $WARNING, $ERROR;
$col_flavors: $col_infos,
    $col_warning,
    $col_error;

//$FLAVORS_EX: $INFOS, $WARNING, $ERROR, $READY, $DIRTY, $LOADING, $PROCESSING, $WAITING, $ACTIVE, $CTA;
$col_flavors_ex: $col_infos,
    $col_warning,
    $col_error,
    $col_ready,
    $col_dirty,
    $col_loading,
    $col_processing,
    $col_waiting,
    $col_active,
    $col_active;

$col_flavors_ex_ids: $id_col_infos,
    $id_col_warning,
    $id_col_error,
    $id_col_ready,
    $id_col_dirty,
    $id_col_loading,
    $id_col_processing,
    $id_col_waiting,
    $id_col_active,
    $id_col_cta;

$col_flavors_ex_bw: contrast-color($col_infos),
    contrast-color($col_warning),
    contrast-color($col_error),
    contrast-color($col_ready),
    contrast-color($col_dirty),
    contrast-color($col_loading),
    contrast-color($col_processing),
    contrast-color($col_waiting),
    contrast-color($col_active),
    contrast-color($col_active);

// ----> Font size Presets

$font_size_values: 
    $font_size_tag,
    $font_size_xxs,
    $font_size_xs,
    $font_size_s,
    $font_size_m,
    $font_size_l,
    $font_size_xl;

$font_size_ids: 
    $id_font_size_tag,
    $id_font_size_xxs,
    $id_font_size_xs,
    $id_font_size_s,
    $id_font_size_m,
    $id_font_size_l,
    $id_font_size_xl;

// ----> Sizes Presets

$size_values: 
    $size_xxs,
    $size_xs,
    $size_s,
    $size_m,
    $size_l,
    $size_xl,
    $size_fill,
    $size_custom;

$size_ids: 
    $id_size_xxs,
    $id_size_xs,
    $id_size_s,
    $id_size_m,
    $id_size_l,
    $id_size_xl,
    $id_size_fill,
    $id_size_custom;

// Halves

$size_xxs_half: _round($size_xxs*0.5);
$size_xs_half: _round($size_xs*0.5);
$size_s_half: _round($size_s*0.5);
$size_m_half: _round($size_m*0.5);
$size_l_half: _round($size_l*0.5);
$size_xl_half: _round($size_xl*0.5);
$size_fill_half: _round($size_fill*0.5);
$size_custom_half: calc(var(--custom-size) * 0.5);

$suffix: '-half';
$id_size_xxs_half: $id_size_xxs+$suffix;
$id_size_xs_half: $id_size_xs+$suffix;
$id_size_s_half: $id_size_s+$suffix;
$id_size_m_half: $id_size_m+$suffix;
$id_size_l_half: $id_size_l+$suffix;
$id_size_xl_half: $id_size_xl+$suffix;
$id_size_fill_half: $id_size_fill+$suffix;
$id_size_custom_half: $id_size_custom+$suffix;

$size_values_half: 
    $size_xxs_half,
    $size_xs_half,
    $size_s_half,
    $size_m_half,
    $size_l_half,
    $size_xl_half,
    $size_fill_half,
    $size_custom_half;

$size_ids_half: 
    $id_size_xxs_half,
    $id_size_xs_half,
    $id_size_s_half,
    $id_size_m_half,
    $id_size_l_half,
    $id_size_xl_half,
    $id_size_fill_half,
    $id_size_custom_half;

// Thirds

$size_xxs_third: _round($size_xxs*0.333);
$size_xs_third: _round($size_xs*0.333);
$size_s_third: _round($size_s*0.333);
$size_m_third: _round($size_m*0.333);
$size_l_third: _round($size_l*0.333);
$size_xl_third: _round($size_xl*0.333);
$size_fill_third: _round($size_fill*0.333);
$size_custom_third: calc(var(--custom-size) * 0.333);

$suffix: '-third';
$id_size_xxs_third: $id_size_xxs+$suffix;
$id_size_xs_third: $id_size_xs+$suffix;
$id_size_s_third: $id_size_s+$suffix;
$id_size_m_third: $id_size_m+$suffix;
$id_size_l_third: $id_size_l+$suffix;
$id_size_xl_third: $id_size_xl+$suffix;
$id_size_fill_third: $id_size_fill+$suffix;
$id_size_custom_third: $id_size_custom+$suffix;

$size_values_third: 
    $size_xxs_third,
    $size_xs_third,
    $size_s_third,
    $size_m_third,
    $size_l_third,
    $size_xl_third,
    $size_fill_third,
    $size_custom_third;

$size_ids_third: 
    $id_size_xxs_third,
    $id_size_xs_third,
    $id_size_s_third,
    $id_size_m_third,
    $id_size_l_third,
    $id_size_xl_third,
    $id_size_fill_third,
    $id_size_custom_third;

/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import './_constants';
@import './_functions';

$default_states_ids:
    str-replace($IDLE, '.'),
    str-replace($FOCUSED, '.'),
    str-replace($SELECTED, '.'),
    #{str-replace($SELECTED, '.')+'-'+str-replace($FOCUSED, '.')},
    str-replace($TOGGLED, '.');

$short_states_ids:
    'i',
    'f',
    's',
    'sf',
    't';

$tree_indent: 24px;
$folder_indent: 24px;

$id_tree_indent: '--tree-indent';
$id_tree_size: '--tree-size';

$id_folder_indent: '--folder-indent';
$id_folder_size: '--folder-size';

$overlay_bg_dark: rgba(#191919, 0.5);
$overlay_bg_light: rgba(#f0f0f0, 0.5);

$drawer_bg_dark: #3d3d3d;
$drawer_bg_light: #f0f0f0;

$id_drawer_bg: '--col-drawer-bg';
$id_overlay_bg: '--col-overlay-bg';

/*-------------------------------------*/
/*<!---- @nkmjs/ui-data-controls ----!>*/
/*-------------------------------------*/

$workspace_bg_dark: #191919;
$workspace_nav_bg_dark: rgba(#4d4d4d, 0.2);

$workspace_bg_light: #f0f0f0;
$workspace_nav_bg_light: rgba(#d8d8d8, 0.2);

$id_workspace_bg: '--col-workspace-bg';
$id_workspace_nav_bg: '--col-workspace-nav-bg';



/*---------------------------------*/
/*<!---- @nkmjs/ui-workspace ----!>*/
/*---------------------------------*/

$workspace_bg_dark: #191919;
$workspace_nav_bg_dark: rgba(#4d4d4d, 0.2);

$workspace_bg_light: #f0f0f0;
$workspace_nav_bg_light: rgba(#d8d8d8, 0.2);

$id_workspace_bg: '--col-workspace-bg';
$id_workspace_nav_bg: '--col-workspace-nav-bg';

