/*--------------------------*/
/*<!---- @nkmjs/style ----!>*/
/*--------------------------*/

@import './_mixins';
@import './_variables';
@import './_typography';

.row-break {
    flex-basis: 100%;
    height: 0;
    width: 0%;
}

.column-break {
    flex-basis: 100%;
    height: 0%;
    width: 0;
}

:host{
    transition: $transition_opacity;
}

:host(:not(.unpainted)){
    opacity:1;
}

:host(.unpainted){
    //opacity:0;
    visibility: hidden !important;
}

:host(.disabled){
    filter: grayscale(1);
}

.icon.expand{
    cursor: pointer;
}

.FlipH{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.FlipV{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

// ----> Host presets
// Sizes
@include for-each-host-selector('', $SIZES, '', '', $size_varnames) using ($index, $val) {
    --size:var(#{$val});
}

// Flavors
@include for-each-host-selector('', $FLAVORS_EX, '', '', $col_flavors_ex_varnames) using ($index, $val) {
    --flavor-color: var(#{$val});
    --flavor-color-rgb: var(#{$val+"-rgb"});

    --flavor-color-dark: var(#{$val+'-dark'});
    --flavor-color-dark-rgb: var(#{$val+'-dark-rgb'});

    --flavor-color-light: var(#{$val+'-bright'});
    --flavor-color-light-rgb: var(#{$val+'-bright-rgb'});
    
    --flavor-contrast:var(#{$val+'-contrast'});
}

// ----> Remove costly filters on (presumably) mobile
@media (hover: none) and (pointer: coarse) {
    * {
        //filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@include scrollbar("", 4px);

// Animations

@-webkit-keyframes rotating{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating-slow {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.rotating-fast {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

@-webkit-keyframes rotating{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  
    }
}


@keyframes alphaPulse {
    from { opacity: 0.4; } 
}

:host(.alpha-pulse-slow), .alpha-pulse-slow {
    -webkit-animation: alphaPulse 2s ease-in-out infinite alternate;
    -moz-animation: alphaPulse 2s ease-in-out infinite alternate;
    -ms-animation: alphaPulse 2s ease-in-out infinite alternate;
    -o-animation: alphaPulse 2s ease-in-out infinite alternate;
    animation: alphaPulse 2s ease-in-out infinite alternate;
}

:host(.alpha-pulse-fast), .alpha-pulse-fast {
    -webkit-animation: alphaPulse 1s ease-in-out infinite alternate;
    -moz-animation: alphaPulse 1s ease-in-out infinite alternate;
    -ms-animation: alphaPulse 1s ease-in-out infinite alternate;
    -o-animation: alphaPulse 1s ease-in-out infinite alternate;
    animation: alphaPulse 1s ease-in-out infinite alternate;
}

.easeload{
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
}

/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import './_mixins';
@import './_variables';

// ----> Extended color schemes (state colors)

:host {
    order: var(--order);
    min-height: 0;
    min-width: 0;

    & a {
        color: var(--flavor-contrast-idle)
    }

    & a:hover {
        color: var(--flavor-contrast-focused)
    }

}



:host(.disabled) {
    user-select: none;
    pointer-events: none;
    opacity: 0.4;
}

/* Hide scrollbar for IE, Edge and Firefox */
:host(.invisible-scrollbar) {

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

}

@include for-each-host-selector('', $FLAVORS_EX, '', '', $col_flavors_ex_varnames) using ($index, $val) {

    --flavor-color: var(#{$val});
    --flavor-contrast:var(#{$val+'-contrast'});

    $val: str-replace($val, '--col-');
    $flavor_id: $index;

    @include for-each-in($default_states_ids) using ($i, $st) {
        $short_state: nth($short_states_ids, $i);
        #{'--flavor-primary-'+$st}:var(#{'--fcol-'+$flavor_id+'-0-'+$short_state});
        #{'--flavor-secondary-'+$st}:var(#{'--fcol-'+$flavor_id+'-1-'+$short_state});
        #{'--flavor-contrast-'+$st}:var(#{'--fcol-'+$flavor_id+'-2-'+$short_state});
    }

}

:host(#{$WAITING}) {
    cursor: wait;
}

:host(#{$PROCESSING}) {
    cursor: progress;
}

/* Icon */

.icon-element {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1/1;
}

.icon {

    aspect-ratio: 1/1;

    margin: 4px;
    padding: 0;

    --h-size: calc(var(--size) / 2);
    --clamped-size: clamp(var(#{$varname_size_xs}), var(--h-size), var(#{$varname_size_l}));

    width: var(--clamped-size);
    min-width: var(--clamped-size);
    max-width: var(--clamped-size);

    opacity: 0.8;

    //border-radius: 1000px;

    box-sizing: border-box;

    &:only-child {
        margin: 0;
    }

}

div.icon {
    display: inline-block;
}

@import './_icons';

/* Extensions */

.ext-overlay {
    @include click-through-overlay();
    border-radius: inherit;
    box-sizing: border-box;
}

.drag-overlay {
    border: 1px solid #{$col_active};
}

.drop-target-overlay {
    border: 1px solid #{$col_ready};
}

.drop-target-edges {

    position: absolute;
    box-sizing: border-box;

    z-index: 10000;

    & .line {
        position: absolute;
        width: 2px;
        height: 2px;

        border-radius: 4px;
        background-color: var(--col-active);

        & .dot {
            position: absolute;
            width: 10px;
            height: 10px;
            top:-4px;
            left:-4px;
            border-radius: 100%;
            background-color: var(--col-active);
        }

    }

    &.vertical {

        & .dot {
            left:calc(calc(100% * var(--mx)));
        }

        & .line {
            width: 100%;
            left:0;
        }

        &.drop-before {
            & .line {
                top: -4px;
            }
        }

        &.drop-after {
            & .line {
                bottom:-4px;
            }
        }

    }

    &.horizontal {

        & .dot {
            top:calc(calc(100% * var(--my)));
        }

        & .line {
            height: 100%;
            top:0;
        }

        &.drop-before::before {
            & .line {
                left:-4px;
            }
        }

        &.drop-after::after {
            & .line {
                right:-4px;
            }
        }

    }
}

/*-------------------------------------*/
/*<!---- @nkmjs/ui-data-controls ----!>*/
/*-------------------------------------*/

@import './_mixins';
@import './_variables';



/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import './_mixins';
@import './_variables';


/*---------------------------------*/
/*<!---- @nkmjs/ui-workspace ----!>*/
/*---------------------------------*/

@import './_mixins';
@import './_variables';

