/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

$time : 250ms;
$transition: ease-out forwards;

:host(.content-left) .content {
    //transform: translateX(-100%);
}

:host(.content-right) .content {
    //transform: translateX(100%);
}

:host(.content-top) .content {
    //transform: translateY(-100%);
}

:host(.content-bottom) .content {
    //transform: translateY(100%);
}


.content {

    @include drop-shadow(0, 0, 20px, rgba(0, 0, 0, 0.5));

    &.shown {
        &.left {
            animation: slideInLeft $time $transition;
        }

        &.right {
            animation: slideInRight $time $transition;
        }

        &.top {
            animation: slideInTop $time $transition;
        }

        &.bottom {
            animation: slideInBottom $time $transition;
        }
    }

    &:not(.shown) {
        &.left {
            animation: slideOutLeft $time $transition;
        }

        &.right {
            animation: slideOutRight $time $transition;
        }

        &.top {
            animation: slideOutTop $time $transition;
        }

        &.bottom {
            animation: slideOutBottom $time $transition;
        }
    }
}