/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

:host .content{
    @include drop-shadow(0,0,20px, rgba(0,0,0,0.5));
}

:host(.content-left) .content{
    transform: translateX(-100%);
}

:host(.content-right) .content{
    transform: translateX(100%);
}

:host(.content-top) .content{
    transform: translateY(-100%);
}

:host(.content-bottom) .content{
    transform: translateY(100%);
}

:host(#{$SHOWN}) .content{
    animation: slideIn 150ms ease-out forwards;

    @keyframes slideIn {
        to {
            transform: translateX(0%) translateY(0%);
        }
    }
    
}

