/*---------------------------------*/
/*<!---- @nkmjs/ui-workspace ----!>*/
/*---------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

:host{
    //background-color: rgba(var(#{$id_col_base_200}-rgb), 1);
}

$shelflinecol: rgba(var(#{$id_col_base_400}-rgb), 1);

.navigation{ 

    &.top{
        border-bottom: 1px solid $shelflinecol;
    }

    &.bottom{
        border-top: 1px solid $shelflinecol;
    }

    &.left{
        border-right: 1px solid $shelflinecol;
    }

    &.right{
        border-left: 1px solid $shelflinecol;
    }
}

.controls{

}