/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

:host{
    --bg_color: rgba(var(#{$id_col_base_200}-rgb), 0.5);    
}

:host(.shown){

    animation: blurIn 250ms ease-in-out forwards;

    & .bg{
        animation: bgColorIn 250ms ease-in-out forwards;
    }

}

:host(:not(.shown)){
    
    animation: blurOut 250ms ease-in forwards;

    & .bg{
        animation: bgColorOut 250ms ease-in forwards;
    }

}


