/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_variables';
@import '../_mixins';
@import '../_functions';
@import '../_constants';

:host {
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    border-radius: 3px;
}

.field{
    height: var(--size);
    cursor: pointer;
}

.body {
    
    transition: background-color 0.15s ease;

    display: flex;
    justify-content: flex-start;

    width: calc( var(--size) * 2);
    height: var(--size);

    background-color: black;
    border-radius: 1000px;

    transform-origin: center center;
    transform:scale(0.8);

    & .handle {
        transition: all 0.15s ease;
    
        pointer-events: none;
        transform: scale(0.5,0.5);
        flex: 0 0 auto;
    
        width: 50%;
        height: 100%;
    
        background-color: rgba(127,127,127,1);
        border-radius: 1000px;
    }

}

:host(.checked) .body {

    justify-content: flex-end;

    & .handle {
        background-color: white;
    transform: scale(0.6,0.6);
    }

}

