/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_variables';
@import '../_mixins';
@import '../_functions';
@import '../_constants';

:host {

    --icon-on:url(../assets/icons/icon_checkbox-on.svg);
    --icon-off:url(../assets/icons/icon_checkbox-off.svg);

}

.field{
    
    border:none !important;

    

    height: var(--size);
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    background-color: rgba(32, 32, 32, 0);
    border-radius: 5%;

}

:host(.checked) .field {

}

