/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_mixins';

:host {
    cursor: pointer;
    height: var(--size);
    border-radius: 3px;
}

.field {

}

.body{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 2px;
}

.label{
    
}