/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_mixins';
@import '../_functions';

:host {

    @include no-select;

    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;

    background-color: rgba(var(#{$id_col_base_200}-rgb), 0.5);

}

:host .label {}