/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_mixins';

@import './_list-shared';

:host{

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;    
    align-items: center;

    padding: 2px;
    padding-right: 4px;

    border-radius: 2px;
    
    //background-color: var(--flavor-primary-idle);

}

:host(#{$FOCUSED}) {
    cursor: pointer;
    background-color: var(--flavor-primary-selected);
}

:host(#{$SELECTED}){
    background-color: var(--flavor-primary-selected);
}

:host(#{$SELECTED+$FOCUSED}){

    background-color: var(--flavor-primary-selected-focused);

    & .label{
        color: var(--flavor-contrast-selected-focused);
    }

}

:host(#{$DRAGGED}) {
    border: 1px dashed #ff0000;
}
