/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_mixins';

@import './folder-list-item';

:host{
    padding: 0;
    margin: 0;
    --half-indent: calc(var(#{$varname_tree_indent}) / 2);
}

:host(#{$FOCUSED}) {
    cursor: pointer;
    background-color: transparent;

    & .header{
        background-color: rgba(127,127,127,0.2);
    }
}

:host(#{$EXPANDED}) .icon.expand{
    transform: rotate(90deg);
}

.header{

    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;    
    align-items: center;

    height: var(#{$varname_tree_size});    
    padding-left: var(--indent);
    
}

.body{

    flex-flow: column nowrap;
    justify-content: flex-start;    
    align-items: stretch;

    padding: 0;
    margin: 0;
    min-width: 0;

    &::before{
        content: "";
        transition: opacity 0.15s ease;
        position: absolute;
        left: calc(var(--half-indent) + var(--indent));
        height: 100%;
        width: 0;
        border-left: 1px dotted rgba(127,127,127,1);
        z-index: 999999;
        opacity:0.2;
    }

}

:host(:hover){
    & .body{    
        &::before{
            opacity:0.5;
            border-left: 1px solid rgba(127,127,127,1);
        }    
    }
}


